* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;

}
.wrapper {
    position: relative;
}
.sidebar {
    position: relative;
    background: #2e404e;
    color: #fff;
    position: absolute;
    width: 320px;
    min-height: 100vh;
    padding: 15px;
    left: 0;
    top: 0;
    height: 100%;
}
.logo-wrapper {
    width: 180px;
    height: 180px;
    margin: 30px auto;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0px;
}
.logo-wrapper img {
    width: 100%;
    display: block;
}
.logo-wrapper a {
    display: block;
}
.logo-wrapper-mobile {
    display: none;
    width: 53px;
    height: 38px;
}
.logo-wrapper-mobile img {
    width: 100%;
    display: block;
}
.logo-wrapper-mobile a {
    display: block;
}
.layout {
    position: relative;
    color: #4d4d4d;
    background: #ebeff2;
    width: calc(100% - 320px);
    min-height: 100vh;
    text-align: center;
    margin-left: 320px;
}
.content {
    display: flex;
    justify-content: center;
    padding-top: 85px;
}
canvas {
    display: inline-block;
}
#zone .dropzone.dz-clickable {
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#zone .dropzone.dz-clickable:hover {
    background: #d9dcde;
}
#zone {
    position: relative;
    background: #fff;
    width: 80%;
    height: 420px;
    position: relative;
    border: 5px dashed #808080;
    text-align: center;
    color: #808080;
    z-index: 20;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,.05), inset 0 0 0.25em 0 rgba(0,0,0,.25);
    box-shadow: 0 0 0 1px rgba(255,255,255,.05), inset 0 0 0.25em 0 rgba(0,0,0,.25);
}
#zone .dropzone .dz-preview.dz-file-preview .dz-image {
    background-image: url("img/zip.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    position: relative;
}
#zone .dropzone .dz-preview .dz-details {
    top: -50px;
}
#zone .dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 0;
}
#settings {
    display: none;
    padding-top: 0px;
    padding-bottom: 80px;
}
.dropzone .dz-message {
    margin: 0;
    display: inline-block;
    height: 30px;
    line-height: 1 !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
    margin: auto;
    width: 270px;
    font-size: 18px;
}
#options-box {
    width: 430px;
    text-align: center;
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    margin: auto;
    background: #ebeff2;
    border: 1px solid #808080;
    padding: 15px 30px;
}
.et-form {
    position: relative;
}
.et-btn {
    background: #fb4525;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #FE694E;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.et-btn:hover {
    background: #fb4525;
}
.et-btn-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #808080;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.et-btn-submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    line-height: 21px;
}
.db {
    display: block;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-7 {
    margin-bottom: 15px;
}
.mr-12 {
    margin-right: 8px;
}
.ttu {
    text-transform: uppercase;
}
.fs-18 {
    font-size: 18px;
}
.cp {
    cursor: pointer;
}
.back {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 99;
}
.back-bg {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #ffffff;
    z-index: 101;
    opacity: 0.8;
}
.back-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 110;
    opacity: 1;
    padding: 1px;
}
.back:hover .back-bg {
    opacity: 1;
}
.generated-tree {
    position: relative;
    width: 582px;
    margin: 20px auto auto auto;
}
.settings-menu-box {
    display: flex;
    width: 582px;
    margin: 0 auto;
    font-size: 0;
    text-align: left;
}
.settings-menu {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.settings-menu li {
    display: block;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-right: 15px;
}
.settings-menu li:first-child {
    margin-top: 5px;
    margin-bottom: 10px;
}
.settings-menu.bg-color li {
    margin-top: 0px;
    margin-bottom: 10px;
}
.settings-menu.styles li {
    padding-left: 10px;
}
.settings-menu.bg-color li:last-child {
    margin-bottom: 0px;
}
.settings-menu.typograpgy li {
    margin-top: 0px;
    margin-bottom: 10px;
}
.settings-menu.typograpgy li:last-child {
    margin-bottom: 0px;
}
.settings-menu-item {
    font-size: 14px;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}
/* Custom radio button */

/* The radio-btn-container */
.radio-btn-container {
    display: inline-block;
    position: relative;
    padding-right: 25px;
    margin-right: 10px;
    height: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.radio-btn-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #b1aeae;
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio-btn-container:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.radio-btn-container input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio-btn-container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.radio-btn-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* Custom radio button */

/* Select */
.select-wrapper {
    position: relative;
    width: 100px;
    height: 32px;
    border-radius: 0;
}
select:not([multiple]) {
    width: 100%;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: .5em;
    padding-right: 1.5em
}
/* Custom checkbox container */
.checkbox-btn-container {
    display: inline-block;
    position: relative;
    padding-right: 25px;
    margin-right: 10px;
    cursor: pointer;
    height: 25px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-btn-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkbox-btn-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #b1aeae;
    border-radius: 0;
}

/* On mouse-over, add a grey background color */
.checkbox-btn-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-btn-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-btn-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-btn-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.jscolor {
    width: 70px;
    height: 32px;
    padding: 5px;
    border: 1px solid #a9a9a9;
    border-radius: 0;
    outline: none;
}
#tree-canvas {
    margin: 0px auto;
    display: block;
}
.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: #ffffff;
}
.warning-message-top {
    line-height: 20px;
}
.social-nav {
    position: absolute;
    top: 15px;
    right: 10px;
}
.download-button {
    cursor: pointer;
    margin-top: 10px;
    padding: 7px 30px;
    color: #000000;
    border: 3px solid #000000;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
}
.download-button:hover {
    background-color: #000000;
    color: #ffffff;
}
.description {
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    width: 240px;
    padding: 10px 15px;
    margin: 0 auto;
    margin-top: 100px;
}
.lb {
    display: block;
}
.watermark-row {
    width: 582px;
    margin: 15px auto 0;
    text-align: left;
}
.watermark-row .checkbox-btn-container {
    margin-right: 0;
}
.watermark-row .checkmark, .watermark-row .checkbox-btn-container {
    height: 16px;
    width: 16px;
}
.watermark-row .checkbox-btn-container .checkmark:after {
    left: 5px;
    top: 3px;
    width: 3px;
    height: 6px;
}
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.tabs {
    text-align: left;
}

.tabs .tab {
    width: 80px;
    padding: 11px 0;
    border: 1px solid #a6a6a6;
    display: inline-block;
    cursor: pointer;
    border-bottom: 0px ;
    text-align: center;
}

.tabs .tab:first-child {
    border-top-left-radius: 5px;
    border-right: 1px;
}

.tabs .tab:not(:first-child) {
    margin-left: -4px;
    border-top-right-radius: 5px;
}

.tabs .tab.active {
    background-color: #ffffff;
}
.loading {
    display: none;
    position: absolute;
    z-index: 21;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#invalid-message {
    display: none;
    position: inherit;
    color: red;
    z-index: 4000;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
    line-height: 20px;
    background-color: white;
}

@media only screen and (max-width: 1048px) and (min-width: 992px)  {
    .warning {
        justify-content: start;
    }
}

@media only screen and (max-width: 992px) {
    .sidebar {
        display: none;
    }
    .logo-wrapper-mobile{
        display: block;
        margin-right: 30px;
    }
    .layout {
        width: 100%;
        margin-left: 0;
    }
    .warning {
        justify-content: start;
    }
}

@media only screen and (max-width: 768px) {
    .logo-wrapper-mobile {
        margin-right: 0px;
    }
    .warning {
        justify-content: start;
        flex-direction: column;
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        padding: 15px 30px;
        height: auto;
    }
    .social-nav {
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .warning-message-top {
        line-height: 16px;
        font-size: 13px;
    }
    .content {
        padding-top: 50px;
    }
    #options-box {
        width: 90%;
    }
}

@media only screen and (max-width: 640px) {
    .content {
        padding-top: 15px;
    }
    .et-btn-submit {
        position: relative;
        top: inherit;
        right: inherit;
        width: 100%;
        margin-top: 15px;
    }
    .et-btn {
        width: 100%;
    }
    #options-box {
        width: 100%;
        text-align: center;
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        margin: auto;
        background: #ebeff2;
        border: 1px solid #808080;
        padding: 35px 30px;
    }
    #zone {
        height: auto;
        background: transparent;
    }
    #zone .dropzone.dz-clickable {
        display: none;
    }
    .settings-menu-box {
        width: 100%;
        display: block;
        padding-left: 15px;
    }
    .generated-tree {
        width: 100%;
        overflow-y: auto;
    }
    .watermark-row {
        width: 100%;
        padding-left: 15px;
    }
    .settings-menu {
        display: block;
        margin-bottom: 15px;
    }
    .settings-menu.styles li {
        padding-left: 0px;
    }
    #settings {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .download-button {
        margin-top: 20px;
    }
}
